# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [11]:
# type your code here
print("python" , 367 , True,False , 35.678)

python 367 True False 35.678

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [16]:
# type your code here
print("Noman",29,29.765,True,False, sep="-")

Noman-29-29.765-True-False

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [17]:
# type your code here
print("shahbaz",36,45.678,True,False,sep="\n")

shahbaz
36
45.678
True
False

4) Can a python print function take no value to print???

In [18]:
# type your answer here
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [23]:
#type your code here
friends_name = "Mr.Ahmed:"
age = "30"
profession = "lawer:"
education = "bachelor in law 2005:"
law_firm = "The Himalya Associates:"
height = "5.10"
weight = "70600g:"
monthly_income = "200K:"
print(friends_name,age,profession,education,law_firm,height,weight,monthly_income,sep="\n")

Mr.Ahmed:
30
lawer:
bachelor in law 2005:
The Himalya Associates:
5.10
70600g:
200K:

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [32]:
#type your code here 
years_of_bachelor= 2015
current_year= 2022
years=(current_year-years_of_bachelor)
print("total years pass_out:" ,years)

total years pass_out: 7

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [34]:
#type your code here 
joining_year=2015
current_year=2022
total_years=(current_year-joining_year)
print("mr ahmed working law firm The himalya associates:",total_years)

mr ahmed working law firm The himalya associates: 7

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [36]:
#type your code here 
monthly_income_in_pkr = int(input("enter salary in pkr:"))
convert_salary_in_dollar = monthly_income_in_pkr*232
print("your salary in dollar:" "$", convert_salary_in_dollar)

enter salary in pkr:200000
your salary in dollar:$ 46400000

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [3]:
#type your code here 
salary_in_float = float(input("enter your salary in float:"))
convert_in_integer = int(salary_in_float)
print("income_in_integer:", convert_in_integer)

enter your salary in float:22.4556
income_in_integer: 22

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [8]:
#type your code here 
weight_in_gram = int(input("enter mr ahmed weight in gm:"))
weight_in_kg =weight_in_gram/1000
total_weight = int(weight_in_kg)
print( "weight_in_kg:", total_weight,"kg")

enter mr ahmed weight in gm:70600
weight_in_kg: 70 kg

11) print the year of birth of Mr. Ahmed.

In [13]:
#type your code here
current_age =int(input("enter your current age:"))
year_of_birth = 2022-current_age
print("from now his year of birth:", year_of_birth)

enter your current age:30
from now his year of birth: 1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [16]:
#type your code here 
shahbaz = 100
ahmed = 6
saad = shahbaz%ahmed
print(saad)
#cannot divide equally

4